$var title: 用户登录
$var curpage: admin

<div id="admin_login">
	<form method="post" action="/admin/login" id="loginform">
		<div class="user_login metabox col-840">
			<div class="title">
				<span class="label left">用户登录</span>
				<span class="label right"></span>
			</div>
			<div class="boxctx">
				<div class="form login_form">
					<div class="item">
						<span class='label'>用户名：</span>
						<input id="username" type="text" class="text" name="username" />
						<div class="clear"></div>
					</div>
					<div class="item">
						<span class='label'>密码：</span>
						<input id="userpwd" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					<div class="item loginbtn"><a href="#" id="loginsubmit" class="button large blue">登录</a></div>
					<div class="clear"></div>
				</div>
				<div class="reg_guide">
					<h5>还没有开发者账户？</h5>
					<div class="content">现在申请开发者账户，创建最适合您公司的客户端应用，让合作从此再无距离！</div>
					<div class="goreg_button"><a href="/admin/dev/reg" class="button middle orange">立即申请</a></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</form
</div>