$var title: 开发者帐号申请
$var curpage: admin

<div id="dev_reg">
	<form method="post" action="/admin/dev/reg" id="dev_reg_form">
		<div class="user_login metabox col-840">
			<div class="title">
				<span class="label left">用户登录</span>
				<span class="label right"></span>
			</div>
			<div class="boxctx">
				<div class="form">
					<div class="item">
						<span class='label'>登录名：</span>
						<input id="username" type="text" class="text" name="username" />
						<div class="clear"></div>
					</div>
					<div class="item">
						<span class='label'>密码：</span>
						<input id="userpwd" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					<div class="item">
						<span class='label'>重复密码：</span>
						<input id="userpwd_rep" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					
					<div class="item">
						<span class='label'>公司名称：</span>
						<input id="compName" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					<div class="item">
						<span class='label'>负责人：</span>
						<input id="compManager" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					<div class="item">
						<span class='label'>联系电话：</span>
						<input id="compPhone" type="password" class="text" name="userpwd" />
						<div class="clear"></div>
					</div>
					<div class="item loginbtn"><a href="#" id="dev_reg_submit" class="button large blue">注册</a></div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</form
</div>